
      {% if data.computing %}  

      <div style="float:left; width:500px; margin:10px; margin-bottom:20px">
      <table class="dashboard" style="width:100%">

       <!-- <tr>
        <td colspan="2" style="background:{{ data.computing.color }}; height:25px">
        </td>
       </tr> -->

       <tr>
        <td><b>Name</b></td>
        <td>{{ data.computing.name }}</td>
       </tr>

       <tr>
        <td><b>Description</b></td>
        <td>{{ data.computing.description }}</td>
       </tr>

       <tr>
        <td><b>Type</b></td>
        <td>{{ data.computing.type }}</td>
       </tr>
       
       <tr>
        <td><b>Access mode</b></td>
        <td>{{ data.computing.access_mode }}</td>
       </tr>

       <tr>
        <td><b>Auth mode</b></td>
        <td>{{ data.computing.auth_mode }}</td>
       </tr>

       <tr>
        <td><b>WMS</b></td>
        <td>{{ data.computing.wms }}</td>
       </tr>

       <tr>
        <td><b>Arch</b></td>
        <td>{{ data.computing.arch }}</td>
       </tr>

       <tr>
        <td><b>Container engines</b></td>
        <td>{{ data.computing.container_engines }}</td>
       </tr>

       <tr>
        <td><b>Emulated archs</b></td>
        <td>{{ data.computing.emulated_archs }}</td>
       </tr>

       <tr>
        <td><b>Storages</b></td>
        <td>
        {% if not computing.storages.all %}
        none
        {% else %}
        {% for storage in computing.storages.all %}
        {% if storage.bind_path %}
        {{  storage.name }} @ <code>{{  storage.bind_path }}</code><br/>
        {% endif %}
        {% endfor %}
        {% endif %}
        </td>
       </tr>



      </table>
      </div>
      
      {% else %}

      <div style="width:300px; float:left; border: #e0e0e0 solid 1px; margin:10px; background:#f8f8f8; margin-bottom:15px">
        <!-- <div style="background:{{computing.color}}; height:24px"></div> -->
        
        <div style="padding:10px; margin-top:5px; text-align:center; border-bottom: #e0e0e0 solid 1px; ">
        <a href="/computing/?uuid={{ computing.uuid }}&details=True">{{ computing.name }}</a>
        </div>
        
        <div style="padding:10px;">

        {% if computing.description %} 
        <div class="description-box" title="{{ computing.description }}">
        {{ computing.description }}
        </div>
        {% else %}
        <br/>  
        {% endif %}
        <div class="image-version-box">
        <b>Type:</b> {{ computing.type }} <font style="font-size:0.9em">({{ computing.arch }})</font>
        <!-- <br/><b>Arch:</b> {{ computing.arch }} -->
        <br/>
        <b>Storages:</b>
        {% if not computing.storages.all %}
        none
        {% else %}
        <br/>
        {% for storage in computing.storages.all %}
        {% if storage.bind_path %}
        &nbsp; {{  storage.name }} @ <code>{{  storage.bind_path }}</code><br/>
        {% endif %}
        {% endfor %}
        {% endif %}
        </div>
        <!-- ><b>Access:</b> {{ computing.access_mode }}<br/> --
        <!-- <b>Owner:</b> {% if computing.user %}{{ computing.user }}{% else %}Platform{% endif %}<br/> -->
        <!--  <b>Engines:</b> {{ computing.container_engines }} -->
        
        <!-- {% if 'docker' in computing.container_engines %}<img src="/static/img/docker-logo.svg" style="height:18px; width:18px; margin-bottom:2px" />{% endif %}
        {% if 'singularity' in computing.container_engines %}<img src="/static/img/singularity-logo.svg" style="height:18px; width:18px; margin-bottom:2px" />{% endif %}-->
        {% if container %}
        <div style="margin:0px; margin-top:2px; text-align:center; padding:5px">
        <form action="/new_task/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="step" value="{{ data.next_step }}" />
        <input type="hidden" name="task_container_uuid" value="{{container.uuid}}">
        <input type="hidden" name="task_container_arch" value="{{container_arch}}">
        <input type="hidden" name="task_computing_uuid" value="{{computing.uuid}}">
        <input type="submit" value="Choose" class="btn btn-connect">
        </form>
        </div>
        {% endif %}
        
        </div>  

      </div>
      

      
      {% endif %}
      
      
      