

      {% if details %}     

      <table class="dashboard" style="margin:10px; max-width:600px">
        
       <tr>
        <td colspan="2" style="background:{{ container.color }}; height:15px"></td>
       </tr>

       <tr><td colspan=2 style="height:5px"></td></tr>


       <tr>
        <td><b>Name</b></td>
        <td>{{ container.name }}</td>
       </tr>

       <tr>
        <td><b>Owner</b></td>
        <td>{% if container.user %}{{ container.user }}{% else %}platform{% endif %}</td>
       </tr>

       <tr>
        <td><b>Description</b></td>
        <td>{{ container.description }}</td>
       </tr>

       <tr><td colspan=2><hr style="margin:5px"></td></tr>

       <tr>
        <td><b>Registry</b></td>
        <td>{{ container.registry }}</td>
       </tr>

       <tr>
        <td><b>Image</b></td>
        <td><code>{{ container.image }}</code></td>
       </tr>

       <tr>
        <td><b>Tag</b></td>
        <td>{{ container.tag }}</td>
       </tr>

       <tr><td colspan=2><hr style="margin:5px"></td></tr>

       <tr>
        <td><b>Interface protocol</b></td>
        <td>{{ container.interface_protocol }}</td>
       </tr>

       <tr>
        <td><b>Interface port</b></td>
        <td>{{ container.interface_port }}</td>
       </tr>

       <tr>
        <td><b>Interface transport</b></td>
        <td>{{ container.interface_transport }}</td>
       </tr>

       <tr>
        <td><b>Architecture</b></td>
        <td>{{ container.arch }}</td>
       </tr>

       <tr>
        <td><b>Operating System</b></td>
        <td>{{ container.os }}</td>
       </tr>

       <tr><td colspan=2><hr style="margin:5px"></td></tr>

       <tr>
        <td colspan=2>
         <b>Supports custom interface port</b> &nbsp; 
         {% if container.supports_custom_interface_port %}
           <input type="checkbox" name="container_supports_user_auth" checked disabled/> 
         {% else %}
           <input type="checkbox" name="container_supports_user_auth" disabled/> 
         {% endif %}
        </td>
       </tr>

       <tr>
        <td colspan=2>
         <b>Supports interface auth</b> &nbsp; 
         {% if container.supports_interface_auth %}
           <input type="checkbox" name="supports_interface_auth" checked disabled/> 
         {% else %}
           <input type="checkbox" name="supports_interface_auth" disabled/> 
         {% endif %}        </td>
       </tr>

       
       {% if container.user %}
       <tr>
        <td><b>Operations</b></td>
        <td><a href="?action=delete&uuid={{ container.uuid }}">Delete</a></td>
       </tr>
       {% endif %}
      </table>
      <br/>
      
      
      {% else %}
      <div style="width:300px; float:left; border: #e0e0e0 solid 1px; margin:10px; background:#f8f8f8; margin-bottom:15px">

        
        <div style="padding:10px; margin-top:5px; text-align:center; border-bottom: {{container.color}} solid 10px; ">
        <a href="/software/container_?uuid={{ container.uuid }}">{{ container.name }}</a>&nbsp; 
        </div>
        
        <div style="padding:10px; height: 110px; vertical-align: middle; ">
        
        {% if container.description %} 
        <div class="description-box" title="{{ container.description }}">
        {{ container.description }}
        </div>
        {% else %}
        <br/>  
        {% endif %}
        
        <div class="image-version-box">
        <!-- <font style="font-family:monospace; font-size:1.2em"></font> -->
        <b>Image:</b> <code>{{ container.image }}</code><br/>
        <b>Tag:</b> &nbsp;{{ container.tag }} &nbsp;<b>Arch:</b> {{container_arch}}
        </div> 
       
        </div>
        
        <div style="margin-bottom:13px; margin-top: 3px; text-align:center">
        {% if not disable_play_button %}
        <a href="/new_task?task_container_uuid={{ container.uuid }}&step=two" class="btn btn-light" style="border: #c0c0c0 1px solid">&nbsp;<i class="fa fa-play" style="color:green"></i></a>
        {% endif %}
        </div>    
      
      
      
      </div>
      
      {% endif  %}






      