{% load static %}
{% include "header.html" %}
{% include "navigation.html" %}
{% include "logo.html" %}

<div class="container">
  <div class="dashboard">
    <div class="span8 offset2">
      <h1>Add extra profile configuration</h1>
      <hr>

      <h4>Chose the configuration type and add the values</h4>

      <br/>

      <form action="/add_profile_conf/" method="POST">
      {% csrf_token %}

      <table class="dashboard" style="max-width:430px">
       <tr>

        <td>
         {%if data.conf_type %}
         <select name="conf_type">
          <option value="{{data.conf_type}}" selected>{{data.conf_type}}</option>
         </select>
         {% else %}
         <select name="conf_type">
          {% for conf_type in data.conf_types %}
          <option value="{{conf_type}}">{{conf_type}}</option>
          {% endfor %}
         </select>
         {% endif %}
        </td>

        {%if data.conf_type %}
        <td>
        {%if data.computing %}
         <select name="computing_uuid">
          <option value="{{data.computing.uuid}}" selected>{{data.computing.name}}</option>
         </select>
         {% else %}
         <select name="computing_uuid">
          {% for computing in data.computings %}
          <option value="{{computing.uuid}}">{{computing.name}}</option>
          {% endfor %}
         </select>
         {% endif %}
        </td>
        {% endif %}


       {% if data.last_step %}
        <td colspan=2 align=center style="padding:20px">
         <input name="value" type="text" value="">
        </td>
        <td colspan=2 align=center style="padding:20px">
         <input type="submit" value="Save">
        </td>
       {% else %}
        <td colspan=2 align=center style="padding:20px">
         <input type="submit" value="Next">
        </td>
       {% endif %}

      </table>
      </form>

      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>

    </div>
  </div>
</div>

{% include "footer.html" %}







