{% load static %} 
{% include "header.html" %}
{% include "navigation.html" %}
{% include "logo.html" %}

<div class="container">
  <div class="dashboard">
    <div class="span8 offset2">
      
      {% if data.computing %}
      <h1><a href="/computing">Computing resources</a> <span style="font-size:18px"> / {{ data.computing.name }}</span></h1>      
      {% else %}
      <h1>Computing resources</h1>
      {% endif %}
      
      <hr/>
      <div class="row" style="padding:5px">
      {% if data.computing %}
      {% include "components/computing.html" with computing=data.computing details=True %}
      {% else %}      
      {% for computing in data.computings %}
      {% include "components/computing.html" with computing=computing %}
      {% endfor %}
      {% endif %}
      </div>
      
      <!-- <div class="row" style="padding:10px; padding-left:15px">   
      <a href="/add_container">Add new...</a>
      </div> -->

      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>

    </div>
  </div>
</div>

{% include "footer.html" %}





