{% load static %} 
{% include "header.html" %}
{% include "navigation.html"%}

    <center>
    <div style="width:300px;">
      <form class="form-signin" role="form" action='/login/' method='POST'>
        {% csrf_token %}
        <br />
        <br />
        <br />
        <h1>Rosetta <img src="/static/img/emoji_u1f6f0.png" style="height:84px; width:64px; padding-bottom:20px"></h1>
        <p style="font-size: 16px;">
        <br />
        <input style="margin-bottom:5px;" type="username" class="form-control" placeholder="Email" name='username' required autofocus>
        <input type="password" class="form-control" placeholder="Password" name='password'>
        <br />
        <input type='submit' style="width:110px" class="btn btn-lg btn-success btn-block" value='Log in' />
        

        <div style="margin-top:25px; margin-bottom:15px">
        {% if OPENID_ENABLED %}<font color="#a9a9a9"> — OR —</font>{% endif %}
        </div>
        
        {% if OPENID_ENABLED %}
        <a href="{% url 'oidc_authentication_init' %}">Login with OpenID Connect &nbsp;</a>
        {% endif %}
        
        <br /><br />
        
        {% if data.error %}
        <br/>
        <div class='centerbox-error'>
          {{ data.error }}
        </div>
        
        {% elif data.success %}
        <br/>
        <div class='centerbox-success'>
          {{data.success}}
        </div>
        
        {% else %}
        <br />
        
        {% endif %}
             

        </p>
        
      </form>      
    </div>
    {% if not data.success %}
    <b>Forgot password?</b><br/> Just leave it empty to get a login link by email!
    {% endif %}
    
    <br /><br /><br />
    </center>




{% include "footer.html" %}
