{% load static %} 
{% include "header.html" %}
{% include "navigation.html"%}

    <!-- Header -->
    <header id="top" class="header">
        <div style="display:table-row">
            <div class="text-vertical-center">
                <h1>&nbsp;&nbsp;Rosetta <img src="/static/img/emoji_u1f6f0.png" style="height:84px; width:64px; padding-bottom:20px"></h1>
                <h2 style="margin-top:10px; margin-left:25px; margin-right:25px; font-weight:100; line-height: 30px;"><i>A Science Platform for interactive data analysis<br></i></h2>
            </div>
        </div>
        
        <div class="container">
            <div class="dashboard">
                {% if data.home_text %}
                {{ data.home_text | safe }}
                {% else %}
                <div class="span8 offset2" style="margin: 30px auto; max-width:800px">
                <br/>
                Welcome to Rosetta!
                <br/><br/>
                This is an empty installation. To load some demo data, run <code>rosetta/populate</code>.
                </div>
                {% endif %}
            </div>
        </div>          
    </header>

{% include "footer.html" %}



