{% load static %}
{% include "header.html" %}
{% include "navigation.html" %}
{% include "logo.html" %}

<div class="container" style="height:75%;">
  <div class="dashboard" style="height:100%;">
    <div class="span8 offset2" style="height:100%;">

      {% if not data.storage %}
      <h1>Storage resources</h1>
      {% else %}
      <h1><a href="/storage/?manage=True">Storage resources</a> <span style="font-size:18px"> / <a href="/storage/?manage=True&uuid={{ data.storage.uuid }}">{{ data.storage.name }}</a></span></h1>
      {% endif %}
      <hr/>

      {% if not data.manage %}
      <div style="font-size:1.1em; background:whitesmoke; display:inline-block; padding:2px 15px 2px 15px">Browse</div>
      <div style="font-size:1.1em; background:white; display:inline-block; padding:2px 15px 2px 15px"><a href="/storage/?manage=True">Manage</a></div>
      <hr style="margin-top:0;">

      <iframe src="/static/RichFilemanager/index.html" style="overflow:hidden;height:100%;width:100%; border: 1px solid #c0c0c0" height="100%" width="100%"></iframe>

      {% else %}
      <div style="font-size:1.1em; background:white; display:inline-block; padding:2px 15px 2px 15px"><a href="/storage/">Browse</a></div>
      <div style="font-size:1.1em; background:whitesmoke; display:inline-block; padding:2px 15px 2px 15px">Manage</div>
      <hr style="margin-top:0;">


      {% if request.user.is_staff %}
      {% if not data.storage %}
      <div class="form-filter" style="margin-bottom:20px">
        <form action="" method="POST">
          <input type="text" class="form-control" id="search_text" name="search_text" placeholder="Search..." style="width:200px; margin:0; display:inline" value="{{data.search_text}}" autofocus>
          <select class="form-control" id="search_owner" name="search_owner" style="width:120px; margin:0; display:inline">
            {% if data.search_owner == 'All' %}<option selected>All</option>{% else %}<option>All</option>{% endif %}
            {% if data.search_owner == 'Platform' %}<option selected>Platform</option>{% else %}<option>Platform</option>{% endif %}
            {% if data.search_owner == 'User' or data.search_owner == 'Group' %}<option selected>User</option>{% else %}<option>User</option>{% endif %}
          </select>
          {% csrf_token %}
          <button type="submit" class="btn btn-secondary">Go</button>
          {% if request.user.is_staff %}
            &nbsp; &nbsp; <font size=4.0em>|</font> &nbsp; <a href="/add_storage/">Add new...</a>
          {% endif %}
        </form>
      </div>
      {% endif %}
      {% endif %}

      <div class="row" style="padding:5px">
        {% for storage in data.storages %}
          {% include "components/storage.html" with storage=storage %}
        {% empty %}
          <p>No storage resources found.</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% include "footer.html" %}



